# Ignore bundler config
/.bundle

# Ignore log files
/log/*
!/log/.keep

# Ignore tmp files
/tmp/*
!/tmp/.keep

# Ignore uploaded files
/storage/*
!/storage/.keep

# Ignore sqlite database files
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore master key
/config/master.key
/config/credentials/*.key

.env

# Ignore frontend dependencies
/node_modules
/yarn-error.log

# macOS
.DS_Store
